* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
  background-color: rgb(26, 26, 26);
  font-family: Verdana, Helvetica, Arial, monospace;
  scroll-behavior: smooth;
}
body {
  margin: 0;
}
.container {
  overflow: hidden;
}

header {
  position: fixed;
  height: 3rem;
  background: #282b37c2;
  width: 100%;
  top: 0;
  z-index: 2;
}
header ul {
  display: flex;
  justify-content: center;

}
header ul > li {
  margin-right: 5rem;
  list-style: none;
  font-weight: 700;
  color: #f0f0f0;
  transition: transform 350ms ease-out;
  cursor: pointer;
}
header ul > li:hover {
  transform: scale3d(1.2, 1.2, 1.2);
}
.hero-halfpage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  height: 50%;
  width: 100%;
  color: #f0f0f0;
  background-color: #282b37;
  padding: 5rem;  
}
.hero-halfpage p {
  color: #b8b8b8;
}
.blocks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 100vh);
  grid-gap: 0.5rem;
  padding: 0.5rem;
}
@media(max-width: 936px){
  .blocks {
    grid-template-columns: 1fr;
    grid-auto-rows: 100vh;
    grid-gap: 0.1rem;
  }
}
.hero-fullscreen {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #282b37;
  background-image: url("../images/robot.jpg");
  background-repeat:  no-repeat;
  background-size: cover;

}
.play-button-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5em;
  width: 5em;
  border-color: #e0e0e0;
  border-style: solid; 
  border-radius: 50%;
  z-index: 1;
}
.play-button {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 14px 0 14px 28px;
  border-color: transparent transparent transparent #ffffff;
  margin: 0 auto;
  transform: translate(2px, 0px);
}
.play-button-bg:hover .play-button {
  border-color: transparent transparent transparent #e01414;
}
.play-button-bg:hover {
  border-color: #e01414;
}
#player {
  width: 75%;
  height: 60%;
  position: absolute;
  z-index: 0;
}
@media(max-width: 736px){
  #player {
    height: 60%;
    width: 100%;
  }
}
.block {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  width: 100%;
  background-color: #282b37;
  padding: 2rem;
  color: #f0f0f0;
}
.block h1 {
  font-size: 3rem;
}
.block p {
  font-size: 1.5rem;
}

.block:nth-child(odd){
  background-color: rgb(255, 255, 255);
  padding: 0;
}

canvas {
  width: 100%;
  height: 100%;
}
