@font-face {
    font-family: veranda;
    src: url('verdana/Verdana.ttf');
}

@font-face {
    font-family: veranda-bold;
    src: url('verdana/Verdana_Bold.ttf');
}

body {
    /* font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif; */
    font-family: 'veranda', 'cursive';
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 0.2;
}

.header-area {
    background: #282b37;
    padding-top: 24px;
    padding-bottom: 20px;
    position: relative;
    /* width:  100%; */
}

.menu-area {
    background: transparent !important;
    padding: 0;
}

h2,
h3,
h5 {
    font-family: 'veranda-bold';
}

.menu li a {
    color: #fff !important;
    opacity: 0.75;
    /* */
    transition: opacity 0.2s linear, color 0.2s linear;
}

.menu.top li a {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.menu.top li a:hover {
    opacity: 1;
    color: #ffff;
}

.active-pr a {
    color: #fff !important;
    opacity: 1 !IMPORTANT;
}

.filter_menu_area {
    background: #282b37;
    color: #fff;
    padding-top: 19px;
    padding-bottom: 15px;
}

ul.f_menu li {
    display: inline-block;
}

ul.f_menu li a {
    transition: 0.2s ease-in;
    display: block;
    padding-right: 5px;
    padding-left: 5px;
    color: #999;
    font-family: open sans condensed;
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    opacity: 1;
}

ul.f_menu {
    text-align: right;
}

.f_menu .active-pr a {
    color: #fe5700 !important;
}

ul.f_menu li a:hover {
    color: #fff;
}

.sect_m {
    color: #fff;
    text-transform: capitalize;
    margin-right: 8px;
}

h6#hight_light_text {
    /* display: inline-block; */
}

.hight_Light {
    display: inline-block;
    width: 25%;
    float: left;
}

.hight_Light h6 {
    font-weight: 700;
    font-size: 26px;
    font-family: Open Sans Condensed;
    text-transform: capitalize;
    color: #eee;
    letter-spacing: 1px;
}

.container {
    max-width: 1425px;
    padding: 0 90px;
}

.team_area_section {
    /* width: 100%; */
    /* overflow:  hidden; */
    background: #282b37;
    padding-bottom: 22px;
}

.team_area_section .col-sm-3 {
    /* padding-left:  0; */
    /* padding-right: 0; */
}

.team_area_section .col-sm-4 {
    padding: 0;
    padding-left: 0;
    padding-right: 0;
}

.team_area_section .col-sm-4 {
    padding-left: 0;
    padding-right: 0;
}

.col-sm-3 {
    padding-left: 0;
    padding-right: 0;
}

.sinlge_team {
    /* background:  #282b30; */
    /* opacity:  0.8; */
    position: relative;
    z-index: 1;
    transition: 0.02s ease-in;
}

.sinlge_team:after {
    position: absolute;
    clear: both;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    content: "";
    background: #282b30;
    opacity: 0.8;
    z-index: 0;
    transition: 0.2s ease-in;
}

.single_content {
    color: #fff;
    position: absolute;
    bottom: 20px;
    z-index: 2;
    text-align: center;
    width: 100%;
    transition: 0.2s ease-in;
}

.sinlge_team:hover .single_content {
    opacity: 0;
    visibility: hidden;
}

.sinlge_team:hover:after {
    background: transparent;
}

.single_content {
    /* display:  block; */
}

.single_team_area {
    width: 25%;
    /* margin: -1px; */
    /* padding:  0 !important; */
}

.sinlge_team img {
    /* width:  100%; */
    /* height:  100%; */
}

.sinlge_team {
    /* height:  100%; */
    /* width:  100%; */
}

.single_content h3 {
    text-transform: uppercase;
    font-size: 21px;
    letter-spacing: 2px;
    font-weight: 700;
}

.menu-area.sticky {
    /* position: fixed; */
    /* background: #fff !important; */
    width: 100%;
    top: 0;
    z-index: 9999999;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.05);
    /* left:  0; */
    padding: 20px 0px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light.menu-area.sticky {
    background: #fff !important;
}

.sticky .menu li a {
    color: #888 !important;
    opacity: 1;
}

span.dark {
    display: none;
}

.sticky li.active-pr > a {
    color: #fe5700 !important;
}

.team_area_section .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

footer.footer-section {
    background: #222;
    position: relative;
}

.left_footer h2 {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
    -webkit-font-smoothing: antialiased;
    line-height: 36px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

ul.fo_menu li {
    display: inline-block;
}

ul.fo_menu li a {
    color: #999;
    padding: 5px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
}

.right_footer {
    text-align: right;
}

.fo_menu li a:hover {
    color: #fe5700 !important;
    opacity: 1;
    border-bottom: 0px solid;
    /* border-color: #fff; */
}

.fo_menu .active-pr a {
    color: #fe5700 !IMPORTANT;
    opacity: 0.8 !important;
}

.f_text {
    color: #999;
}

.up i {
    color: #fff;
}

.up {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: rgba(0, 0, 0, .4);
    background: #3A5876;
    text-align: center;
    transition: 0.2s ease-in;
    cursor: pointer;
    position: fixed;
    right: 15px;
    bottom: 25px;
    z-index: 555;
}

.up:hover {
    background: #fe5700;
}

.sigle_mem_content h2 {
    font-size: 42px;
    font-weight: 700;
    color: #0a0a0a;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 58px;
}


/*edit */

.sinlge_team {
    height: 350px !important;
}

.sinlge_team img {
    height: 100%;
    width: 100%;
}

.filter_sec .single_team_area {}


/*.filter_sec .single_team_area:nth-child(2) .single_content h3 {
    font-size:  15px;
    line-height:  23px;
}

.filter_sec .single_team_area:nth-child(2) .single_content h4 {
    font-size:  15px;
}*/

.single_content h4 {
    font-size: 18px;
    padding-top: 6px;
    font-weight: 600;
}

.single_content h3 {
    font-size: 15px;
    line-height: 23px;
}

.single_content h4 {
    font-size: 15px;
}

.f_menu li:hover a {
    cursor: pointer;
    color: #fe5700 !important;
}

section.gray {
    background: #282b37;
    color: #fff;
    text-align: center;
}

section .wrapper {
    padding-top: 96px;
    padding-bottom: 96px;
}

section.gray p {
    color: #888;
    font-size: 20px;
    line-height: 40px;
}

.sinlge_team {
    /* background: #282b30; */
    /* opacity: 0.8; */
    position: relative;
    z-index: 1;
    transition: 0.02s ease-in;
    overflow: hidden;
}

.sinlge_team:hover img {
    opacity: 1;
    /* visibility: hidden; */
    /* margin-top: -20px; */
    margin-left: -20px;
    transform: translate(-20px, -10px);
    transform: scale(1.1, 1.1);
}

.sinlge_team img {
    height: 100%;
    width: 100%;
    transition: .4s ease-in;
}

i.fab.fa-facebook-f {
    /* color: #3B5998 !important; */
}

i.fab.fa-twitter {
    /* color: #1DA1F2 !important; */
}

i.fab.fa-linkedin-in {
    /* color: #117eb9 !important; */
}

i.fab.fa-youtube {
    /* color: #fd2725 !important; */
}

i.fab.fa-instagram {
    /* color: #bc0499; */
    /* color: #bc0499 !important; */
}


/* .f_s_ic li a i {
    font-size: 20px;
    margin: 20px;
    color: #333;
    opacity: 0.9;
    background: #fff;
    line-height: 20px;
    padding: 0px;
    border-radius: 10px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    transition: all 1s;
} */

.f_s_ic li a i {
    font-size: 30px;
    margin: 20px;
    color: #a6a6a6;
    opacity: 0.9;
    background: transparent;
    line-height: 20px;
    padding: 0px;
    border-radius: 10px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.f_s_ic li {
    /* transition: all .1s; */
}

.f_s_ic li:hover {
    /* transition: all .1s; */
    /*transform: scale(1.5,1.5); */
}

i.fab.fa-twitter::hover {
    color: #1DA1F2 !important;
    /* color: #fff !important; */
    opacity: 1;
    border-bottom: 0px solid;
    transform: scale(1.5, 1.5);
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    /* border-color: #fff; */
}

.fo_menu li a:hover i.fab.fa-linkedin-in {
    /* color: #fff !important; */
    color: #117eb9 !important;
    opacity: 1;
    border-bottom: 0px solid;
    transform: scale(1.5, 1.5);
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    /* border-color: #fff; */
}

.fo_menu li a:hover i.fab.fa-youtube {
    /* color: #fff !important; */
    color: #fd2725 !important;
    opacity: 1;
    border-bottom: 0px solid;
    transform: scale(1.5, 1.5);
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    /* border-color: #fff; */
}

.fo_menu li a:hover i.fab.fa-instagram {
    color: #fff !important;
    color: #bc0499 !important;
    opacity: 1;
    border-bottom: 0px solid;
    transform: scale(1.5, 1.5);
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    /* border-color: #fff; */
}

.fo_menu li a:hover i.fab.fa-facebook-f {
    /* color: #fff !important; */
    color: #3B5998 !important;
    opacity: 1;
    border-bottom: 0px solid;
    transform: scale(1.5, 1.5);
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    /* border-color: #fff; */
}

footer.footer-section {
    background: #282b37;
    position: relative;
}

ul.fo_menu li a {
    color: #999;
    padding: 5px;
    font-weight: normal;
    text-transform: capitalize !important;
    font-size: 18px;
}

.foote_two ul.fo_menu li a {
    color: #999;
    padding: 5px;
    font-weight: normal;
    text-transform: capitalize !important;
    font-size: 15px;
}

.fo_menu {
    text-align: center;
    padding: 25px 0px;
    border-bottom: 1px;
    border-color: #fff;
    opacity: 1;
    border-bottom: #ccc 1px solid;
    padding: 20px 0 30px;
    text-transform: capitalize !important;
}

a.navbar-brand {
    height: 30px;
    width: 200px;
}

.header-area {
    background: #e4e4e4;
    padding: 16px 0px;
}

a.navbar-brand {
    height: 50px;
    width: 200px;
}

.small.wrapper h3 {
    margin-bottom: 25px;
}

footer.footer-section {
    background: #282b37;
    position: relative;
    -webkit-box-shadow: inset 2px 2px 5px 1px rgba(0, 0, 0, .08);
    -moz-box-shadow: inset 2px 2px 5px 1px rgba(0, 0, 0, .08);
    box-shadow: inset 2px 2px 5px 1px rgba(0, 0, 0, .08);
    background-color: #f2f2f2;
    background: #222;
}

.up i {
    color: #fff;
    font-size: 30px;
    line-height: 48px;
}

.team_area_section {
    /* width: 100%; */
    /* overflow: hidden; */
    background: #e0e0e00f;
    padding-bottom: 22px;
    box-shadow: 0 5px 0 rgba(0, 0, 0, .05);
}

#myVideo {
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}


/* .sinlge_team.david img {
    height: 100%;
    width: 100%;
    transition: 1s ease-in;
    transform: rotateZ(90deg);
} */

.team_area_section {
    /* width: 100%; */
    /* overflow: hidden; */
    background: #e0e0e00f;
    padding-bottom: 0px;
    box-shadow: 0 5px 0 rgba(0, 0, 0, .05);
}

#box_shadow {
    background-color: transparent;
    width: 100%;
    height: 5px;
    position: absolute;
    top: calc(10% - 10px);
    left: calc(50% - 80px);
}

.box-shadow:after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 1px;
    z-index: -1;
    transform: scale(.9);
    box-shadow: 0px 0px 8px 2px #000000;
}

.fo_menu li a {
    transition: all .4s;
}

.fo_menu li:hover a {
    opacity: 1;
    border-bottom: 0px solid;
    /* border-color: #fff; */
    /* font-size: 110%; */
    /* transition: all 0.5s ease 0.1s; */
    color: #666 !important;
}

.up,
.up i {
    transition: all 0.3s linear;
}

.up:hover {
    background: #3A5876;
    /* font-size: 25px;
    color: #666; */
}



.single_content h3 {
    font-size: 17px;
    line-height: 23px;
}

.single_content h5 {
    font-size: 13px;
    line-height: 19px;
}


/* .mar_b span {
    margin-right: 2%;
    font-weight: 400;
    margin-left: -9%;
} */

ul.fo_menu li a {
    color: #999;
    padding: 5px;
    font-weight: normal;
    text-transform: capitalize !important;
    font-size: 18px;
    margin-right: 10px;
    transition: all 0.4s ease-in-out;
}

.fo_menu li a:hover {
    color: #3A5876 !important;
    opacity: 1;
    /*  */
    border-bottom: 0px solid;
    /* border-color: #fff; */
}

.single_content h3 {
    font-size: 13px;
    line-height: 23px;
}

.single_content h5 {
    font-size: 12px;
    line-height: 19px;
}

.fo_menu li a:hover {
    color: #666 !important;
    opacity: 1;
    /*  */
    font-weight: bold !important;
    border-bottom: 0px solid;
    /* border-color: #fff; */
}

.fo_menu li a:hover {
    color: #666 !important;
    opacity: 1;
    font-weight: bold !important;
    border-bottom: 0px solid;
    /* border-color: #fff; */
}

.fo_menu li {
    margin-left: 18px;
    scale: ();
    /* transform: scale(1.1,1.1); */
    transition: all 0.4s ease-in-out;
    display: inline-block;
}

ul.fo_menu li:hover {
    display: inline-block;
    transform: scale(1.2, 1.2);
}

.f_s_ic li {
    /* transition: all .1s; */
    display: inline-block;
}

ul.f_s_ic {
    text-align: center;
}

.fa-linkedin-square:hover {
    color: #01649B;
    transform: scale(1.5);
    -webkit-transition: all .3s ease-in-out;
}

.fa-youtube-play:hover {
    padding: 0px;
    color: #FB0007;
    transform: scale(1.5);
    -webkit-transition: all .3s ease-in-out;
}

.fa-facebook-square:hover {
    color: #3A559F;
    transform: scale(1.5);
    -webkit-transition: all .3s ease-in-out;
}

.footer-section {
    padding-bottom: 20px;
}




.single_content h3 {
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0px;
}

.footer-section {
    padding-bottom: 40px;
}

.top_d {
    opacity: 0;
}


/* 
.fo_menu li a:hover {
    color: #fff !important;
    opacity: 1;
    font-weight: bold !important;
    border-bottom: 0px solid;
    
}

.f_s_ic li a i {
    font-size: 30px;
    margin: 20px;
    color: #fff;
    opacity: 0.9;
    background: transparent;
    line-height: 20px;
    padding: 0px;
    border-radius: 10px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
} */

.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    /* overflow: hidden;
    max-height: 100vh; */
}

.single_content h3 {
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0px;
}

.f_text {
    margin-top: 20px;
}

.footer-section {
    padding-bottom: 20px;
}



.single_content h5 {
    /* font-size: 16px; */
    line-height: 19px;
}

ul.f_s_ic {
    text-align: center;
    border-bottom: #ccc 1px solid;
}

.f_text {
    margin-top: 20px;
    padding: 10px 0px;
    font-size: 14px;
}

ul.fo_menu li a {
    color: #fff !important;
    padding: 5px;
    font-weight: normal;
    text-transform: capitalize !important;
    font-size: 18px;
    margin-right: 10px;
    transition: all 0.4s ease-in-out;
    margin-right: 25px;
}

.f_s_ic li a i {
    font-size: 30px;
    margin: 20px;
    color: #fff;
    opacity: 0.9;
    background: transparent;
    line-height: 20px;
    padding: 0px;
    border-radius: 10px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    margin-left: 20px;
}

ul.f_s_ic {
    text-align: center;
    border-bottom: #ccc 1px solid;
    padding: 11px 0px;
}

.f_s_ic li a {
    color: #fff;
    margin-right: 30px;
}

ul.f_s_ic {
    text-align: center;
    border-bottom: #808080e0 1px solid;
    padding: 11px 0px;
}

.fo_menu {
    text-align: center;
    padding: 25px 0px;
    border-bottom: 1px;
    border-color: #fff;
    opacity: 1;
    border-bottom: #808080e0 1px solid;
    padding: 20px 0 30px;
    text-transform: capitalize !important;
}



.single_content h5 {
    font-size: 16px;
    line-height: 19px;
}

.full-size-page,
.vedio {
    height: 100vh;
}

/* Background video */
.background-video {
    position: absolute;
    top: -160px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
}

.foreground-video,
.background-video iframe {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
    .foreground-video {
        height: 310%;
        top: -100%;
    }

}

@media (max-aspect-ratio: 16/9) {
    .foreground-video {
        width: 300%;
        left: -100%;
    }
}

/* Overlay video */
#video-overlay {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h2.sub_title {
    font-size: 23px !important;
    font-weight: 400 !important;
    margin-top: -10px;
}

ul.fo_menu li {
    transition: all .4s ease-in;
}

ul.fo_menu li:hover {
    transition: all .4s ease-in;
    display: inline-block;
    transform: scale(1.2, 1.1);
}


.small.wrapper h3 {
    margin-bottom: 15px !important;
    font-size: 30px !important;
    line-height: 35px !important;
}

section .wrapper {
    padding: 60px 0px;
}

section.gray p {
    font-size: 15px !important;
    line-height: 28px;
    margin-bottom: 10px;
}

.sinlge_team:hover img {
    opacity: 1;
    margin-left: 0px !Important;
    transform: scale(1.1, 1.1);
}


.single_content h3 {
    font-size: 16px !important;
    font-weight: 700 !important;
    font-family: 'veranda-bold' !important;
}

.single_content h5 {
    font-size: 16px !important;
    font-family: 'veranda' !important;
}





/*

ul.f_s_ic,
.fo_menu{
    border-bottom: #fff 1px solid !Important;
}
*/

.foote_two ul.fo_menu li a {
    font-size: 18px !important;
    font-weight: normal;
}

ul.fo_menu li:hover a {
    color: orange !important;
    font-weight: normal !Important;
    font-weight: 700 !Important;
}

ul.fo_menu li,
ul.fo_menu li a {
    transition: all .4s ease !important;
    font-size: 20px !important;
}

ul.fo_menu li:hover {
    transform: scale(1.2);
}

.mar_b {
    width: 55%;
    height: auto;
    background: #666;
    display: inline-block;
    text-align: center;
    line-height: 25px;
    border-radius: 3px;
    color: #fff;
    transition: all 0.4s ease-in !important;
    font-weight: 600;
    margin-top: 30px;
    font-size: 20px;
    padding: 10px 0px;
    overflow: hidden;
   padding-right: 20px;
}

.mar_b:hover {
    background: #3A5876;
    color: #fff;
    padding: 0px;
    transform: scale(1, 1);
    font-size: 24px;
    padding: 10px 0px;
}
.mar_b span {
    margin-right: 4px !important;
    height: 35px;
    font-weight: bold;
}

.mar_b span img {
    height: 45px;
}

.mar_content_title.v1title {
    margin-top: -30px !important;
}

.up {
    width: 50px;
    height: 50px;
    line-height: auto;
    background: #666  !important;
    background: transparent;
    text-align: center;
    transition: 0.4s ease-in !important;
    cursor: pointer;
    position: fixed;
    right: 15px;
    bottom: 25px;
    z-index: 555;
}
.up i.fa{
    
    transform: scale(1);
    transition: 0.4s ease-in !important;
}
.up:hover {
    color: #fff;
    background: #3A5876 !important;
}
.up:hover i.fa{
    transform: scale(1.25);
    color: #fff; 
}



.team_area_section,
footer.footer-section {
    box-shadow: inset 10px 10px 5px 1px rgba(0, 0, 0, .08);
}

.sinlge_team {
    height: 400px !important;
}

ul.fo_menu li,
ul.fo_menu li a {
    transition: all .3s ease-in-out !important;
}

ul.fo_menu li:hover a {
    color: grey !important;
    font-weight: 700 !important;
}
h2.sub_title {
    color: #17365D !important;
    font-size: 23px !important;
    font-weight: 600 !important;
    margin-top: -10px;
}
.mar_content_title h2 {
    color: #17365D !important;
        font-size: 25px !important;
}

/*.mar_single_content_are {*/

/*    margin-bottom: 130px !important;*/
/*}*/




.sectionp {
    padding: 60px 0 70px;
}
.mar_single_content_are {
    padding: 70px 70px 60px;
}



ul.fo_menu li, ul.fo_menu li a {
    font-size: 18px !important;
}

.sectionp {
    padding: 60px 0 20px;
}

.foote_two ul.fo_menu li a {
    font-size: 16px !important;
}

.f_text {
    margin-top: 20px;
    padding: 10px 0px;
    font-size: 15px;
}

.mar_b span {
    margin-right: 0px !important;
}
.small.wrapper p {
    max-width: 850px;
    margin: auto;
}
section .wrapper {
    padding: 100px 0px 110px;
}

